  @import url('https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400');
  body {
    background-color: rgba(235, 235, 235, 0.8)
  }

  h1 {
    padding: 0.8rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Dosis';
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: normal;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-top: solid 1.5px #dae1e7;
    border-left: solid 1px #dae1e7;
    border-right: solid 1px #dae1e7;
  }

  #app {
    margin: auto;
  }

  .container-fluid {
    background-color: #fff;
    padding-top: 2rem;
    margin: 0 auto 3rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }
